<div class="about-container">
  <h2>Our story</h2>
  <div class="separator"></div>
  <div class="row">
    <p>
      Our business has started at 2005, in the golden age of skateboarding and
      other extreme sports. Naturally, we were obsessed with various types of
      them. As a teenager it wasn't about the sport only though, we also admired
      the different kind of outfits sold by brands you're sure familiar with,
      like Vans or Volcom. Throughout the years we developed a deep interest in
      fashion in general, so we had the idea, that we should make a business out
      of it. Thats how it turned out to be the crown of a strong friendship
      since the 90's.
    </p>
  </div>
  <h2>The shop</h2>
  <div class="separator"></div>
  <div class="row">
    <p>
      We started out our business as a group of friends intersted in street
      fashion. Our love towards unique items were always a huge drive for us,
      and after a short period of time we decided to make a business out of it.
      We are all for the people who think that they want more than the average
      collection of a mall or other commerce shops.
    </p>
  </div>
  <h2>Delivery details</h2>
  <div class="separator"></div>
  <div class="row">
    <p>
      We are using the services of GLS for ensure your package will be delivered
      just in time. After your submitted your order to us, our webshop processes
      it -which takes the maximum of one day- and after that we give your
      package to the courier on the very day you've ordered it. There might be
      cases where the order has been submitted to us, but our stock is short on
      the particular item, in this case we will always contact you on an instant
      and give you the opportunity to take back your order, or choose to wait
      until we refill our stock. If you've chosen home delivery you will get
      your package in the interval of 1-3 workdays. You can also write a note,
      and add it to the order, we also give this information to the courier so
      they can contact you for further details on the time and place of the
      delivery. If you have chosen personal purchase, you can contact us through
      one of the platforms embedded in the footer of our webpage
      -facebook/instagram/email/twitter- and notify us about when could you take
      your package in person at the shop.
    </p>
    <small
      >About delivery fee: We charge 10$ for every home delivery, personal
      purchases go without any plus fees naturally.
    </small>
  </div>
</div>
